
<div class="users form">
<?php echo $this->Form->create('addUsers');?>
    <fieldset>
        <legend><?php echo __('Inscription'); ?></legend>
        <?php echo $this->Form->input('pseudo');
              echo $this->Form->input('adresse_mail');
              echo $this->Form->input('password');

              echo $this->Form->button('S\'inscrire');
        ?>
    </fieldset>
<?php echo $this->Form->end();?>
</div>
